@page
@using CryptoScanner.App.CoinManager
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<div class="search-container d-flex justify-content-center">
    <form method="post">
        <input type="text" asp-for="@Model.CoinName" placeholder="Search cryptocurrency" />
        <input type="submit" value="Search" />
    </form>
</div>
<div class="row h-100 justify-content-center">
    @if (CoinManager.coinList == null || CoinManager.coinList.Any() == false)
    {
        <h4>No cryptocurrency found!</h4>
    }
    else
    {
        @foreach (var coin in CoinManager.coinList)
        {
            <div class="coin-container col-10 col-md-5 col-lg-4 col-xl-3">
                <div class="image-container d-flex justify-content-center">
                    <img src="@coin.Image" />
                </div>
                <div class="coin-name-container d-flex justify-content-center">
                    <h3>@coin.Name</h3>
                </div>
                <div class="coin-price-container d-flex justify-content-between">
                    <label>Current price: </label><span> $@coin.CurrentPrice</span>
                </div>
                <div class="coin-change-container d-flex justify-content-between">
                    <label>Change 24 hours:</label>
                    @if (coin.PriceChangePercentage24H > 0)
                    {
                        <span style="color: green;">@coin.PriceChangePercentage24H%</span>

                    }
                    else if (coin.PriceChangePercentage24H < 0)
                    {
                        <span style="color: red;">@coin.PriceChangePercentage24H%</span>
                    }
                </div>
                <div class="btn-container d-flex justify-content-center">
                    <input class="btn btn-primary" type="submit" value="Buy 1 @coin.Name" />
                </div>
            </div>

        }
    }
</div>


<style>
    body {
        background-color: black;
        color: gold;
    }
    .coin-container {
        border: 1px solid gold;
        color: whitesmoke;
        border-radius: 10%;
        margin: 1%;
    }
    .coin-name-container {
        border-bottom: 1px solid gold;
    }
    .btn-container {
        margin: 3%;
    }
    img {
        max-height: 100px;
    }



</style>


